server:
{
    name:           'services.hello-kitty.com'
    description:    'Hello Kitty Services'
    sid:            '00A'
}

daemon:
{
    root_dir:   '/home/inspircd/pythonservices'
    pid_file:   './services.pid'
    uid:        'user' < can be empty or integer
    gid:        'group' < can be empty or integer
}

peer_server:
{
    address:        '127.0.0.1'
    port:           5007
    name:           'irc.hello-kitty.com'
    send_password:  'send_password'
    rcv_password:   'receive_password'
    protocol:       $capabilities.protocol # References the below capabilities.protocol field
}

console:
{
    enable_input:   True    # < BE VERY CAREFUL WITH THIS, SETTING IT TO TRUE WILL 
                            # FORCE THE APP TO RUN IN THE FOREGROUND. DO NOT START 
                            # FROM SCRIPTS WITH ENABLE_INPUT TRUE!!! 
}

logging:
{
    rotate:                     '7d'
    location:                   './services.log'
    debug_level:                20  # 0 = show all messages, 50 = show no messages
    console_format:             '%(asctime)-23s $BOLD%(name)-12s$RESET %(levelname)-19s $RESET%(message)s'
    console_max_width:          150
    console_multiline_offset:   49
    file_format:                '%(asctime)s %(name)s %(levelname)s %(message)s'
}

ping:
{
    initiate_after: 120
    timeout_after:  120
}


reconnect:
{
    max_delay:      300
    initial_delay:  5
    factor_incr:    1.5
}

sqlextension:
{
    db_name:        'database_name'
    db_username:    'database_username'
    db_password:    'database_password'
    db_host:        'localhost'
    db_port:        3306
    table_prefix:   'ircd' #eg ircd_users, ircd_channels etc
    
    services:
    {
        global_status_messages:     True
        global_status_disconnect:   '[SERVICES] Going down in a sec. Back soon! :3'
        global_status_connect:      '[SERVICES] All back online now. Missed you!'
        
        enforcer:
        {
            nick:       'Enforcer'
            host:       'security.services.hello-kitty.com'
            ident:      'enforcer'
            realname:   'The Enforcer'
            
            ban_accessdenied_expiry:    600 # Seconds
            
            enforce_chancreate_limit: True
            level_chancreate_min: 100
            
            bad_behaviour:
            {
                enabled:    True,
                threshold:  50,
                timeout:    600,
                
                reason:     'AUTOKILLED: Persistent terrible behaviour >:(',
                warning:    'If you misbehave further you will be killed [%s/%s]', # Current Bad Points / Current Threshold for killing
                removed:    '%s bad behaviour points have been removed from your record [%s/%s]', # Points Removed / Current Bad Points / Current Threshold for killing

                value_topic_enforce:            20,
                timeout_topic_enforce:          600,
                
                value_accessdenied_enforce:     35,
                timeout_accessdenied_enforce:   1200,
                
                value_chancreatedenied_enforce:     20,
                timeout_chancreatedenied_enforce:   600,
            }
        }
        
        oper_tool:
        {
            nick:       'OperServ'
            host:       'operations.services.hello-kitty.com'
            ident:      'operserv'
            realname:   'Operator Tools'
        }
        
        global_announce:
        {
            nick:       'Global'
            host:       'publicity.services.hello-kitty.com'
            ident:      'global'
            realname:   'Network Wide Announcer'
        }
    }
}

# Defines load order and extensions to load. ORDER IS IMPORTANT.
extensions:
[
    'SQLExtension',
    'SQLEnforcer',
    'SQLGlobal'
    'SQLOper'
]

# Generally do not touch these, they're for debug / compatibility only
capabilities:
{
    protocol:       1201
    ip6native:      0
    ip6support:     1
    nickmax:        32
    halfop:         1
    chanmax:        65
    maxmodes:       20
    identmax:       12
    maxquit:        256
    maxtopic:       308
    maxkick:        256
    maxgecos:       129
    maxaway:        20
    prefix:         '(qaohv)~&@%+'
    chanmodes:      'beg,k,FLfjl,DMNOPRScimnprstz'
    svspart:        1
}

# Same here 
modules:
{
}

debug:
{
    profile:
    {
        enabled:    False
        file:       './profile.prof'
    }
}